.header {
  width: 100%;
}
.annotation {
  background-color: rgba(179, 96, 80, 1);
  height: 47px;
  width: 100%;
}
.shopping-annotation {
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  line-height: 27.2px;
  color: #f1d3b9;
  padding-top: 0.8%;
}
.header-menu {
  width: 100%;
  background-color: rgba(246, 244, 236, 1);
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 20%; */

  color: #b45f4d;
  font-family: "Roboto";
  font-style: normal;
}
.menu {
  display: flex;
  width: 30%;
  align-items: flex-start;
  gap: 31px;
  padding-left: 1.4%;
  padding-top: 1.6%;
}
.menu-item {
  font-size: 18px;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
  color: #b45f4d;
}
.menu-logo {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-right: 1.4%;
}
.account {
  display: flex;
  width: 30%; /* 426px*/
  justify-content: space-between;
  font-size: 14px;
  line-height: 22.4px; /* 160% */
  padding-top: 1.5%;
  gap: 3.1%;
}
.language-buttons-and-themes {
  display: flex;
  width: 60.56%; /* 258px*/
  height: 45px;
  /* padding: 0% 2.1%; */
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.language-buttons-and-themes button {
   background: transparent; 
   border: none; 
}
.language-buttons {
  display: flex;
  width: 36.43%; /* 94px*/
  height: 39px;
  padding: 5px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.lang-button {
  width: 45px;
}
.rus,
.en {
  color: #b4604d;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
}
.themes {
  display: flex;
  width: 55px;
  height: 24px;
  justify-content: center;
  align-items: flex-start;
  /* gap: 7px; */
  padding-left: 9%;
  padding-bottom: 5%;
}
.signs {
  display: flex;
  width: 40%;
  height: 45px;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
}
.sign-in {
  width: 69px;
  color: #b4604d;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
  margin-top: -1%;
}
.hidden-menu {
  display: none;
}
@media (max-width: 1393px) and (min-width: 1001px) {
  .menu {
    width: 40%;
    gap: 25px;
  }
  .menu-logo {
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    margin-left: -15%;
  }
}
@media (max-width: 1001px) {
  .hidden-menu {
    display: contents;
    width: 12%;
    font-size: 24px;
    line-height: normal;
  }
  .hidden-menu p {
    padding-top: 1.6%;
    padding-left: 4%;
  }
  .menu {
    display: none;
  }
  .menu-logo {
    margin-left: 15%;
  }
}
