body {
  background-color: rgb(245, 240, 240);
  margin-left: auto;
  margin-right: auto;
  max-width: 1442px;
}

.header {
  width: 1200px;
  height: 108px;
  flex-shrink: 0;
}

.container {
  flex-shrink: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 168px;
  height: 68px;
  flex-shrink: 0;
  top: 130px;
  left: 234px;
  color: #000;
  font-family: Questria;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navigation-list{
  display: flex;
width: 688px;
height: 26px;
align-items: flex-start;
gap: 40px;
flex-shrink: 0;
list-style-type: none;
margin-bottom: 35px;
}

.navigation-list__item a{
  width: 109px;
  flex-shrink: 0;
  color: #000;

text-align: center;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
margin-left: 40px;
}
