@media (min-width: 1200px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
  }
  .container {
    max-width: 1200px; /*1200px */
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
  }
  .container {
    max-width: 100%; /*1200px*/
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
}
@media (min-width: 720px) and (max-width: 1000px) {
  body {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
  }
  .container {
    max-width: 100%; /*720px*/
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
}
@media (min-width: 500px) and (max-width: 720px) {
  body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
  }
  .container {
    max-width: 100%; /*500px*/
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  body {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
  }
  .container {
    max-width: 100%; /*320px*/
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
}
