.spaces {
  height: 1031px;
}
.spaces-title__block {
  text-align: center;
  margin-top: 3px;
  margin-right: 9px;
  margin-bottom: 40px;
}

.space_vector {
  margin-bottom: 20px;
}
.speces-cards {
  display: flex;
  gap: 38px;
}

.spaces-card {
  background-color: #fff0d2;
  width: 270px;
  height: 600px;
  border-radius: 16px;
  padding-top: 40px;
}
.spaces-card {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

.spaces-title {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  width: 73px;
  height: 29px;
  top: 2493px;
  left: 683px;
  margin: 0 auto;
  margin-bottom: 13px;
}
.spaces-card__title {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  height: 31px;
  margin: 0 auto;
  margin-bottom: 9px;
  margin-top: -2px;
}
.spaces-card__subtitle {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  width: 234px;
  height: 84px;
  opacity: 0.6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 46px;
  margin-top: -3px;
}
.spaces-card__description {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  width: 190px;
  height: 28px;
  left: 40px;
}
.spaces-card__description_a {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  width: 190px;
  height: 15px;
  left: 40px;
}
.spaces-card__items {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.blue-card {
  background-color: white;
}

.spaces-card:hover {
  background-color: #fff0d2;
}

/* .spaces-card__btn {
border: 1px solid #FFB21E1A;
width: 192px;
padding: 16px 24px;
gap: 16px;
border-radius: 8px; 
background-color: white;
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #FFB21E;
margin-top: 50px;
} */

.btn {
  border: 1px solid #1254ff1a;
  width: 192px;
  padding: 16px 24px;
  gap: 16px;
  border-radius: 8px;
  background-color: white;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 132px;
  color: #1254ff;
}

.yel-btn {
  color: #ffb21e;
  border: 1px solid #ffb21e1a;
  margin-top: 150px;
}
.spaces-card__link {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.spaces-card__btn {
  border: 1px solid #ffb21e1a;
  width: 192px;
  padding: 16px 24px;
  gap: 16px;
  border-radius: 8px;
  background-color: #ffb21e;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 150px;
}
.spaces-wrap {
  padding-bottom: 250px;
}
