.header {
  width: 100%;
}
.annotation {
  background-color: var(--var-color-red);
  height: 47px;
  width: 100%;
}
.shopping-annotation {
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  line-height: 27.2px;
  color: var(--var-shopping-annotation-text);
  padding-top: 0.8%;
}
.header-menu {
  width: 100%;
  background-color: var(--var-header-menu-bg);
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* color: var(--var-header-menu-text); */
  font-style: normal;
}
.menu {
  display: flex;
  width: 30%;
  align-items: flex-start;
  gap: 31px;
  padding-left: 1.4%;
  padding-top: 1.6%;
}
.menu-item {
  font-size: 18px;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
  color: var(--var-header-menu-text);
}
.menu-logo {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-right: 1.4%;
}
.account {
  display: flex;
  width: 30%; /* 426px*/
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  line-height: 22.4px; /* 160% */
  padding-top: 1.5%;
  gap: 3.1%;
}
.language-buttons-and-themes {
  display: flex;
  width: 60.56%; /* 258px*/
  height: 45px;
  /* padding: 0% 2.1%; */
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.language-buttons-and-themes button {
  background: transparent;
  border: none;
}
.language-buttons {
  display: flex;
  width: 36.43%; /* 94px*/
  height: 39px;
  padding: 5px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.lang-button {
  width: 45px;
}
.rus,
.en {
  color: var(--var-header-menu-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
}
.themes {
  display: flex;
  width: 55px;
  height: 24px;
  justify-content: center;
  align-items: flex-start;
  /* gap: 7px; */
  background-color: var(--var-themes-color);
  border-radius: 5px;
  padding-left: 9%;
  padding-bottom: 5%;
}

.signs {
  display: flex;
  width: 40%;
  height: 45px;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
}
.open-modal-button {
  border: none;
  /* background-color: transparent; */
  background-color: var(--var-icon-color);
  border-radius: 25px;
}
.hidden-menu {
  display: none;
}
.account-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 45px;
  padding-right: 10px;
  margin-top: -10px;
}
.sum {
  margin-top: -2px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hidden-menu-nav {
  display: none;
}
@media (max-width: 1393px) and (min-width: 1001px) {
  .menu {
    width: 40%;
    gap: 25px;
  }
  .menu-logo {
    padding-top: 0%;
    padding-bottom: 0.4%;
    margin-left: -8%;
  }
}
@media (max-width: 1001px) {
  .hidden-menu {
    display: contents;
    width: 12%;
    font-size: 24px;
    line-height: normal;
  }
  .show-burger-menu {
    width: 40px;
    height: auto;
  }
  .hidden-menu p {
    padding-top: 1.6%;
    padding-left: 4%;
  }
  .menu {
    display: none;
  }
  .menu-logo {
    margin-left: 15%;
  }
}
