.header {
  width: 100%;
}
.annotation {
  background-color: var(--var-color-red);
  height: 47px;
  width: 100%;
}
.shopping-annotation {
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  line-height: 27.2px;
  color: var(--var-shopping-annotation-text);
  padding-top: 0.8%;
}
.header-menu {
  width: 100%;
  background-color: var(--var-header-menu-bg);
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-style: normal;
}
.menu {
  display: flex;
  width: 30%;
  align-items: flex-start;
  gap: 31px;
  padding-left: 1.4%;
  padding-top: 1.6%;
}
.user-page .menu {
  width: 40%;
}
.menu-item {
  font-size: 18px;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
  color: var(--var-header-menu-text);
}
.menu-logo {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin-right: -3.6%;
  /* padding-right: 1.4%; */
}
.menu-logo-user {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin-right: 16%;
}
.menu-user {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin-right: -3.6%;
  /* padding-right: 1.4%; */
}
.account {
  display: flex;
  width: 35%; /* 426px*/
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 22.4px; /* 160% */
  padding-top: 1.5%;
  gap: 3.1%;
}
.busket-icon {
  background-color: var(--var-icon-color);
  border-radius: 5px;
}
.language-buttons-and-themes {
  display: flex;
  width: 70%; /* 258px*/
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.language-buttons-and-themes button {
  background: transparent;
  border-color: rgb(219, 176, 113);
  background-color: var(--var-themes-color);
}
.language-buttons {
  display: flex;
  width: 36.43%; /* 94px*/
  height: 39px;
  padding: 5px 0px;
  justify-content: center;
  align-items: flex-start;
}
.lang-button {
  width: 45px;
}
.rus,
.en {
  color: var(--var-header-menu-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
}
.themes {
  display: flex;
  width: 65px;
  height: 27px;
  justify-content: center;
  align-items: flex-start;
  /* background-color: var(--var-themes-color); */
  border-radius: 5px;
  /* padding-left: 9%; */
  margin-bottom: 10px;
}
.theme-page {
  width: 55px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.themes button.light-theme {
  background: rgb(156, 171, 155);
  color: white;
}

.themes button.dark-theme {
  background: rgb(44, 91, 34);
  color: white;
}
.shop-page .language-buttons-and-themes button {
  background-color: var(--var-button-color);
}
.signs {
  display: flex;
  width: 30%;
  /* height: 39.64px; */
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  gap: 5%;
}
.user-exit {
  margin-top: -15px;
  margin-right: 15px;
}
.user-exit-item {
  font-size: 24px;
  line-height: 28.8px; /* 160% */
  text-transform: capitalize;
  color: var(--var-header-menu-text);
}
.open-modal-button {
  display: flex;
  border: none;
  background-color: var(--var-icon-color);
  border-radius: 25px;
  height: 34px;
  width: 35px;
  justify-content: center;
}
.hidden-menu {
  display: none;
}
.sum {
  margin-top: -2px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.greetings {
  width: 100%;
  height: 40px;
  background-color: var(--var-color-red);
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.welcome {
  width: 90%;
}
.welcome p {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 27.2px;
  color: var(--var-shopping-annotation-text);
  margin-left: 150px;
}
.account-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  padding-right: 10px;
  margin-top: -10px;
}
.user-account {
  display: flex;
  width: 25%; /* 426px*/
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 22.4px; /* 160% */
  padding-top: 1.5%;
  gap: 3.1%;
}
.account-name,
.sum {
  color: var(--var-shopping-annotation-text);
}
.burger-menu {
  display: none;
}
.shop .menu{
  width: 5043}
@media (max-width: 1289px) {
  .user-page .burger-menu {
    display: flex;
  }
  .user-page .show-burger-menu {
    width: 40px;
    height: auto;
  }
  .user-page .menu {
    display: none;
  }
  .user-page .menu-logo-user {
    margin-right: -11%;
  }
}
@media (max-width: 1075px) {
  .user-page .menu {
    display: none;
  }
  .user-page .burger-menu {
    display: flex;
  }
}
@media (max-width: 1393px) and (min-width: 1001px) {
  .menu {
    width: 40%;
    gap: 25px;
  }
  .menu-logo {
    padding-top: 0%;
    padding-bottom: 0.4%;
    margin-right: 6.6%;
    /* margin-left: -8%; */
  }
  .burger-menu {
    display: none;
  }
}
@media (max-width: 1001px) {
  .burger-menu {
    display: flex;
  }
  .show-burger-menu {
    width: 40px;
    height: auto;
  }
  .hidden-menu p {
    padding-top: 1.6%;
    padding-left: 4%;
  }
  .menu {
    display: none;
  }

  .menu-logo {
    margin-left: 28%;
  }
  .menu-logo-user {
    margin-right: -11%;
  }
  .user-exit {
    display: none;
  }
  .user-account {
    width: 15%;
  }
  /*__________burger-menu_____________________*/
  .burger-menu {
    display: flex;
  }
  .account {
    justify-content: flex-end;
  }
  .language-buttons-and-themes {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .language-buttons {
    display: none;
  }
  .themes {
    display: none;
  }
  .signs {
    margin-top: 0px;
  }
}
@media (max-width: 520px) {
  .account {
    width: 50%;
  }
}
@media (max-width: 378px) {
  .menu-logo {
    margin-left: 21%;
  }
  .signs {
    width: 40%;
  }
}
