.photo-section {
  width: 100%;
  height: 435px;
  background-image: url("/img/Shop.png");
  background-size: cover; /*подстройка под макет*/
  background-position: center;
  display: flex;
  justify-content: center;
}
.shop-now-container {
  padding-top: 332px;
}
.shop-now {
  width: 128px;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: rgba(179, 96, 80, 1);
}
.shop-text {
  color: #fff;
  font-family: "Roboto";
  font-size: 17px;
  line-height: 28.8px; /* 169.412% */
  margin-left: 16%;
}
