.production-list {
  background-color: var(--var-header-menu-bg);
  height: 835px;
  /*font*/
  color: var(--var-header-menu-text);
  font-style: normal;
  overflow: hidden;
}
.production-list-container {
  width: 97.22%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 39px;
}
.pick-bottles {
  font-size: 23px;
  line-height: 39.2px; /* 170.435% */
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 37px;
}
.list {
  width: 6820px;
  display: inline-flex;
  height: 643.156px;
  padding: 0px 130px 0px 50px;
  align-items: flex-start;
  gap: 80px;
  /*font*/
  font-size: 18px;
  line-height: 25.2px; /* 140% */
}
.text-upp {
  text-transform: uppercase;
}
.product-item {
  display: flex;
  width: 380px;
  height: 643.156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}
.scroll {
  width: 100%;
  display: inline-flex;
  height: 19px;
  padding-top: 19px;
  justify-content: center;
  align-items: flex-start;
  gap: 81%;
}
.arrow {
  background: none;
  border: none;
  cursor: pointer;
}
