.reviews {
  width: 100%;
  padding-top: 30px;
}
.reviews-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.review-item {
  width: 45%;
  background-color: antiquewhite;
  border: 2px solid green;
  border-radius: 20px;
}
.review-person {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.person-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.person-photo {
  width: 50px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 7px;
}
.info {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.stars {
  width: 50%;
}
.review-description {
  width: 90%;
  margin: 15px auto;
}
.review-description p {
  width: 100%;
  font-size: 20px;
}
